*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#nl{
    margin-left: 20%;
}
#nl>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#db{
    background-color: none;
    color:#2f80ed;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #2f80ed;
    border-radius: 7px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px
}

#bnr{
    text-align: center;
    background-color: #2f80ed;
    color: white;   
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    margin: 0px;
    padding: 10px;
}
#navbar{
    position: sticky;
    top: 0%;
}
#hero_card{
    width: 40%;
    border: none;
}
#card_learning{
    display: flex;
    width: 400px;
    height: 500px;
    position: absolute;
    top: 150px;
    right: 150px;
    text-align: center;
    padding: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: -2px -2px 10px  #96b9e7;
}
#card_learning>span>h2{
    font-size: 35px;
    font-style: italic;

}
#name_bar{
    margin-top: 40px;
    border-radius: 10px !important;
    }
    
#name_bar>input{
    width: 15vw ;
    border: none;
    height: 20px;
    background-color: transparent;
    }
#btn_apply{
   position: absolute;
    left: 2px;
    width: 320px;
    margin: 35px;
    padding: 10px;
    border-radius: 9px;
    border: none;
    background:linear-gradient(to right,#2f80ed,rgb(211, 47, 211));
    color: white;
    font-size: 18px;
    font-style: italic;
}
#terms{
    margin-top: 100px;
}
#btn_txt{
    display: flex;
    position: relative;
    left: 80px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 20px grey;
}
#text{
    padding: 30px;
}
#coarses{
    background-color: #2fa0f22b;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}
#coarse_h1{
color: rgb(131, 29, 131);
font-style: italic;
}
#coarse_h2{
    
    margin-top: 20px;
    color: #1f78ec;
}
#course_card{
    display: flex;
    align-items: center;
    position: absolute;

   
}
.top_label{
    display: flex;
    position: relative;
    align-items: center;
    top: 0%;
    left: 100px;
    width: fit-content;
    text-align: center;
}
#card_inter{
    border: 3px solid #1f78ec;
    padding: auto;
    width: 400px;
    height: 500px;
}
#card_inter_1{
    border: none;
    padding: auto;
    width: 400px;
    height: 500px;
}
  

.card_box{
    background-color: #d5e4f7;
    color: white;
    margin: 5px;
    padding: 1%;
    border: none;
    border-radius: 5px;
}
.card_box-2{
    background-color:rgba(255, 238, 216, 1) ;
    color: rgba(150, 84, 0, 1);
    margin: 5px;
    padding: 1%;
    border: none;
    border-radius: 5px;
}
#table_1>table{
    width: 100%;
    height: 300px;
}
#table_1>table>td{
    font-weight: 200;
    line-height: 1;
}
#btn_cards{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#brochure{
    background-color: none;
    color:#2f80ed;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #2f80ed;
    border-radius: 7px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px
}
#learn_more{
    width: 150px;
    background-color: #2f80ed;
    color:white;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px
}
#hire_partner{
    text-align: center;
    margin: 150px;
}
#hire_partner>div>h1{
    font-style: italic;
}
#hire{
    color:rgb(92, 19, 92);
}































@media screen and (max-width:980px) {
   
#nav{
    flex-direction: column;
}
#nl{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#db,#apply{
    margin-top: 20px;

}
#nav>img{
    margin-top: 20px;
}
}